.u-section-1 .u-sheet-1 {
  min-height: 898px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 71px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 553px;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5rem;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 300;
  font-style: normal;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-9 {
  height: 100%;
}

.u-section-1 .u-icon-10 {
  height: 100%;
}

.u-section-1 .u-icon-11 {
  height: 100%;
}

.u-section-1 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1048px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}