 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 726px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 606px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 25px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 98px 0 0 10px;
}

.u-section-1 .u-form-1 {
  height: 349px;
  width: 570px;
  margin: 33px auto 0;
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 606px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 140px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 141px 108px 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 51px;
  min-height: 16px;
  width: 174px;
  min-width: 68px;
  margin: 98px auto 0 10px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -643px 386px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 573px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 561px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 573px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 32px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 53px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -573px;
    margin-right: auto;
    margin-left: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 418px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 140px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: auto;
    margin-left: 162px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 65px;
    margin-left: 162px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1026px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 22px;
    margin-right: 62px;
    margin-left: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -3px;
    margin-left: 73px;
  }
}