 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1015px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 411px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-1 .u-icon-1 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 43px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-1 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-1 .u-icon-3 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-1 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 23px;
}

.u-section-1 .u-icon-5 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-1 .u-text-6 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-1 .u-icon-6 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 23px;
}

.u-section-1 .u-icon-7 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-7 {
  letter-spacing: normal;
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-1 .u-icon-8 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 23px;
}

.u-section-1 .u-icon-9 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-9 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 43px auto 0;
}

.u-section-1 .u-text-10 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-1 .u-icon-10 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 23px;
}

.u-section-1 .u-icon-11 {
  height: 87px;
  width: 87px;
  background-image: none;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-11 {
  letter-spacing: normal;
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-1 .u-text-12 {
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-1 .u-icon-12 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 779px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}